div input[readonly] {
    padding-left: 1.75rem !important;  
}
.slds-input{
    padding-left: 1.75rem !important;
}

.slds-input-has-icon .slds-input__icon {
    top: 56% !important;
}
.slds-icon_small, .slds-icon--small {
    width: 1.5rem;
    height: 1.5rem;
    line-height: 2;
}

.error {
    border: 2px solid red;
    border-radius: 10px; /* Adds a little curve to the border */
    /*height: 50%; /* Sets the height to 50% of the parent element */
    box-sizing: border-box; /* Ensures that the border is included in the height calculation */
}
